<div class="container">
<div class="row">
          <div class="col-lg-8">
            <div class="box-simple">
              <div class="icon"><i class="pe-7s-like"></i></div>
              <div class="content">
                <h4>Book <%= User.find(params[:user_id]).first_name.capitalize%></h4>
                  <%= simple_form_for [@user, @booking] do |f| %>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.input :date, input_html: {id: "datepicker"}, placeholder: "Date", as: :string %>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= f.input :hrs_work, input_html: {class: "form-control"}, placeholder: "2" %>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <%= f.input :address, input_html: {class: "form-control"}, placeholder: "2" %>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <%= f.submit "Book", class: "btn btn-primary" %>
                    </div>
                  </div>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
</div>
</script>
