<header class="header">
  <div role="navigation" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Easy Cleaners", root_path, class: "navbar-brand"%>
        <div class="navbar-buttons">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
        </div>
      </div>
      <div id="navigation" class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
           <% if user_signed_in? %>
           <!-- Links when logged in -->
            <li class="active"><%= link_to "Home", root_path %></li>
            <li><%= link_to "Search", search_path %></li>
            <li><%= link_to "Bookings", user_bookings_path(user_id: current_user.id) %></li>
            <li class="dropdown">
              <% avatar_url = current_user.facebook_picture_url || (current_user.photo? ? cl_image_path( current_user.photo.path, :crop => "fill") : "http://via.placeholder.com/350x150") %>
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                UserPhoto<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(id: current_user.id) %></li>
              <li><%= link_to "Account", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></a></li>
              </ul>
            </li>
          </ul>
          <% else %>
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn navbar-btn btn-ghost" %>

          <% end %>
        </div>
      </div>
    </div>
  </header>
