<div class="banner" style="background:  linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path("flaming_cocktails_xxfxfa.jpg")%>');">
  <div class="banner-content">
    <h1>Welcome easy cleaners</h1>
    <p>Find service providers in your area</p>
    <div class="search-form">
    </div>
  </div>
</div>
<div class="container">
  <div class="category-carousel">
    <div class="header">
      <h3>Explore service providers in your area.</h3>
      <%= link_to "See All >", "#", class: "link" %>
    </div>
  </div>
  <div class="row">
    <% @users.each do |user| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= user.photo? ? cl_image_path( user.photo.path, :crop => "fill") : "http://via.placeholder.com/350x150" %>);">

          <div class="card-description">
            <h2><%= user.first_name %></h2>

          </div>
          <img class="card-user avatar avatar-large" src="images/jad.png">
          <%= link_to user.first_name, user_path(id: user.id), class: "card-link" %>
        </div>
        <div class="card-footer">

          <div class="controls">
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-share"></i></a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
