<div id="carousel-home" data-ride="carousel" class="carousel slide carousel-fullscreen carousel-fade">
  <!-- Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-home" data-slide-to="1"></li>
    <li data-target="#carousel-home" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides-->
  <div role="listbox" class="carousel-inner">
    <div style="background-image: url('<%= image_path "cleaners.jpg" %>');" class="item active">
      <div class="overlay"></div>
      <div class="carousel-caption">
        <h1 class="super-heading">Easy Cleaners</h1>
        <p class="super-paragraph">Find home cleaning professionals near you</p>
        </div>
      </div>
      <div style="background-image: url('<%= image_path "cleaners.jpg" %>');" class="item">
        <div class="overlay"></div>
        <div class="carousel-caption">
          <h1 class="super-heading">Easy Cleaners</h1>
          <p class="super-paragraph">Find home cleaning professionals near you</p>
          </div>
        </div>
        <div style="background-image: url('<%= image_path "cleaners.jpg" %>');" class="item">
          <div class="overlay"></div>
          <div class="carousel-caption">
            <h1 class="super-heading">Easy Cleaners</h1>
            <p class="super-paragraph">Find home cleaning professionals near you</p>
            </div>
          </div>
        </div>
      </div>
      <section class="background-gray-lightest">
        <div class="container">
          <h1> Cleaning professionals near you</h1>
        </div>
        <div id="map" style="width: 100%; height: 350px;"></div>
                <% content_for(:after_js) do %>
                    <%= javascript_tag do %>
                    var handler = Gmaps.build('Google');
                    handler.buildMap({ internal: { id: 'map' } }, function() {
                    markers = handler.addMarkers(<%= raw @hash.to_json %>);
                    handler.bounds.extendWith(markers);
                    handler.fitMapToBounds();
                    if (markers.length == 0) {
                    handler.getMap().setZoom(2);
                  } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
              <% end %>
          <% end %>
      </section>
<section class="section--padding-bottom-small">
  <div class="container">
    <h2>How does it work?</h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="post">
            <div class="image"><a href="text.html">
              <%= image_tag "step1.png", class: "img-responsive"  %></a>
            </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="post">
              <div class="image"><a href="text.html">
                <%= image_tag "step2.png", class: "img-responsive"  %></a>
              </div>
            </div>
            </div>
            <div class="col-sm-4">
              <div class="post">
                <div class="image"><a href="text.html">
                  <%= image_tag "step3.png", class: "img-responsive"  %></a>
                </div>
              </div>
              </div>
            </div>
          </div>
        </section>
    </div>
  </div>
</div>
